#thimble {
    .gameTable {
        margin-top: 10px;
        background: var(--table_block_background);
        border-radius: var(--br);
        padding: 40px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        .wait {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .Icon {
                animation: switchColor 2s linear infinite;
                svg {
                }
            }
            .text {
                font-size: 27px;
                font-weight: 300;
            }
        }
        .thimbles {
            width: 100%;
            &.results {
                .thimble {
                    .tgImage {
                        opacity: 0.1;
                    }
                    .tImage {
                        transform: translateY(-20px);
                        opacity: 0;
                    }
                    .showCoins {
                        opacity: 1 !important;
                    }
                }
            }
            .thimble {
                display: inline-block;
                width: calc(33.33333% - 10px);
                max-width: 200px;
                position: relative;
                margin-left: 5px;
                margin-right: 5px;
                .tgImage {
                    width: 100%;
                    z-index: 0;
                    opacity: 0;
                    transition: all 0.1s linear;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .tImage {
                    width: 100%;
                    position: relative;
                    z-index: 2;
                    opacity: 1;
                    transition: all 0.5s linear;
                }
                .coins {
                    width: 50%;
                    position: absolute;
                    bottom: 3px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    z-index: 1;
                    opacity: 0;
                    transition: all 0.1s linear;
                }
            }
        }
    }
    .FormStatus--positive {
        background: #009688;
        color: #fff;
        h3 {
            color: #fff !important;
        }
    }
    .FormStatus {
        position: relative;
        margin-top: 10px;
        h3 {
            font-weight: 500 !important;
        }
        .vkuiCaption {
            padding-right: 50px;
            .koef {
                position: absolute;
                right: 10px;
                top: calc(50% - 11px);
                color: #ffc400;
                font-size: 22px;
                font-weight: 200;
                line-height: 22px;
                vertical-align: middle;
            }
            .verticalText {
                svg {
                    margin-left: 3px;
                    width: 12px;
                    height: 12px;
                    margin-right: 3px;
                }
            }
        }
    }
    .betTable {
        margin-top: 10px;
        .buttonsRow {
            display: flex;
            align-items: center;
            .Button {
                width: calc(25% - 6px);
                margin: 0 3px;
                border-radius: var(--br);
                color: white;
                &:last-child {
                    width: calc(25% - 3px);
                    margin-right: 0;
                    background: #e91e63;
                }
                &:first-child {
                    width: calc(25% - 3px);
                    margin-left: 0;
                    background: #ffc107;
                }
                &:nth-child(2) {
                    background: #8bc34a;
                }
                &:nth-child(3) {
                    background: #03a9f4;
                }
            }
        }
        .inputLayout {
            margin-top: 10px;
            .vkuiFormItem {
                padding:0 !important;
                position: relative;
                .Input {
                    border-radius: var(--br);
                }
                .betButtons {
                    position: absolute;
                    top: 4px;
                    right: 5px;
                    z-index: 2;
                    .Button {
                        border-radius: var(--br);
                        &:last-child {
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
        .bet {
            margin-top: 10px;
            border-radius: var(--br);
        }
    }
    .continue {
        margin-top: 10px;
    }
    .hashData {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 24px 0;
        width: 100%;
        span {
            font-size: 13px;
            color: var(--text_secondary);
            line-height: 16px;
            font-weight: 400;
            text-align: center;
        }
    }
    .historyList {
        .SimpleCell {
            padding: 0px !important;
            .sum {
                font-size: 13px;
                line-height: 16px;
                svg {
                    width: 12px;
                    height: 12px;
                    margin-left: 3px;
                }
                &.plus {
                    color: rgb(86, 190, 126);
                }
                &.minus {
                    color: rgb(238, 94, 85);
                }
            }
            .koef {
                color: #ffc400;
                font-size: 22px;
                font-weight: 200;
                line-height: 22px;
            }
        }
    }
}

@keyframes switchColor {
    0% {
        color: #ef5350;
    }
    24.9999% {
        color: #ef5350;
    }
    25% {
        color: #42a5f5;
    }
    49.9999% {
        color: #42a5f5;
    }
    50% {
        color: #ffca28;
    }
    74.9999% {
        color: #ffca28;
    }
    75% {
        color: #66bb6a;
    }
    100% {
        color: #66bb6a;
    }
}
