#more {
    .SimpleCell {
        background:var(--menu_button_background);
        border-radius: var(--br);
        &:not(:first-child) {
            margin-top: 10px;
        }
        .SimpleCell__children {
            font-size: 16px !important;
        }
    }
    .Link {
        .SimpleCell {
            margin-top: 10px;
        }
    }
}