@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lobster&display=swap);
@import url(https://fonts.googleapis.com/css?family=Unica+One);

.gameDouble .balanceBlock {
    background: var(--events_card_color_bg);
    border-radius: 12px;
    margin: 10px 0;
    padding: 10px;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}

.gameDouble .balanceBlock .chipsIcon {
    margin-left: 3px;
    vertical-align: middle;
    width: 18px;
    height: 18px;
}

.gameDouble .history {
    background: var(--events_card_color_bg);
    border-radius: 12px;
    margin: 10px 0;
    padding: 10px 2px 0;
}

.gameDouble .history .Header {
    padding: 0;
    margin: 0 0 0 10px;
}

.gameDouble .history .Header .Header__content {
    padding: 0;
    margin: 0;
}

.gameDouble .history .Header__in {
    padding:0
}

.gameDouble .history .Header__main {
    margin:0
}

.gameDouble .history h3 {
    
    color: var(--text_secondary);
    text-transform: uppercase;

    font-size: 13px;
    line-height: 16px;
}

.gameDouble .history .wrapper {
    padding-top: 8px;
}

.gameDouble .history .HorizontalScroll__in {
    white-space: nowrap!important;
}

.gameDouble .history .wrapper .item {
    display: -webkit-inline-flex;
    display: inline-flex;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-left: 8px;
    background: rgba(0,0,0,.1);
    width: 40px;
    height: 40px;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.gameDouble .history .wrapper .item div {
    width: 14px;
    height: 14px;
    background: #2196f3;
    border-radius: 50%;
}

.gameDouble .history .wrapper .item div.type1 {
    background: #ffc107;
}

.gameDouble .history .wrapper .item div.type2 {
    background: #ff5722;
}

.gameDouble .history .wrapper .item div.type3 {
    background: #8bc34a;
}

.gameDouble .gameContent .table {
    width: 100%;
    text-align: center;
    min-height: 220px;
    position: relative;
    background: var(--events_card_color_bg);
    border-radius: 12px;
}

.gameDouble .gameContent .table .waitIcon {
    margin-top: 65px;
    display: inline-block;
    color: var(--bw_color_text_lite);
}

.gameDouble .gameContent .table .waitText {
    color: var(--bw_color_text_lite);
    font-family: "Montserrat",serif;
    font-size: 24px;
    font-weight: 500;
}

.gameDouble .buttonsBlock .betButtons .betButton {
    display: inline-block;
    width: calc(25% - 6px);
    border: 0;
    font-family: var(--font-common);
    margin: 0 3px;
    color: #fff;
    border-radius: 12px;
    padding:9px 0;
    padding-top:10px;
    text-align: center;
    transition: background-color .15s ease-out;
}

.gameDouble .buttonsBlock .betButtons .vkuiButton__content {
    font-weight: 400;
    font-size: 16px;
}

.gameDouble .buttonsBlock .betButtons .b1 {
    width: calc(25% - 3px);
    margin-left: 0;
    background: #ffc107;
}

.gameDouble .buttonsBlock .betButtons .b2 {
    background: #8bc34a;
}

.gameDouble .buttonsBlock .betButtons .b3 {
    background: #03a9f4;
}

.gameDouble .buttonsBlock .betButtons .b4 {
    width: calc(25% - 3px);
    margin-right: 0;
    background: #e91e63;
}

.gameDouble .vkuiButton--sz-s .vkuiButton__content {
    padding:0
}

.gameDouble .buttonsBlock .targetButtons {
    margin-top: 0px;
    padding: 0 var(--padding_left_vk);
    margin-bottom: -3px;
}

.gameDouble .buttonsBlock .targetButtons .button {
    display: inline-block;
    width: calc(25% - 6px);
    border: 0;
    margin: 0 3px;
    color: #ecf0f1;
    border-radius: 12px;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
    background: var(--events_card_color_bg);
}

.gameDouble .buttonsBlock .targetButtons .b1 {
    width: calc(25% - 3px);
    margin-left: 0;
    color: #2196f3;
}

.gameDouble .buttonsBlock .targetButtons .b1.a {
    background: #2196f3;
    color: #fff;
}

.gameDouble .buttonsBlock .targetButtons .b2.a {
    background: #ffc107;
    color: #fff;
}

.gameDouble .buttonsBlock .targetButtons .b2 {
    color: #ffc107;
}

.gameDouble .buttonsBlock .targetButtons .b3 {
    color: #ff5722;
}

.gameDouble .buttonsBlock .targetButtons .b3.a {
    background: #ff5722;
    color: #fff;
}

.gameDouble .buttonsBlock .targetButtons .b4 {
    width: calc(25% - 3px);
    margin-right: 0;
}

.gameDouble .buttonsBlock .targetButtons .b4 {
    color: #8bc34a;
}

.gameDouble .buttonsBlock .targetButtons .b4.a {
    background: #8bc34a;
    color: #fff;
}

.gameDouble .inputBetWrapper .mbWrapper {
    display: -webkit-flex;
    display: flex;
    position: absolute;
    top: 4.5px;
    right: 18px;
    z-index: 2;
}

.gameDouble .inputBetWrapper .mbWrapper .mb {
    width: 20px;
    text-align: center;
    padding: 8px 15px;
    background: var(--events_card_color_bg);
    margin: 0 2px;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: opacity .1s linear;
}

.gameDouble .inputBetWrapper {
    position: relative;
}

.gameDouble .inputBetWrapper .mbWrapper .mb:active {
    opacity: .7;
}


.Tappable--ios.Tappable--active:not([disabled]):not(.TabsItem):not(.PanelHeaderButton):not(.Button):not(.PanelHeaderContent__in):not(.ActionSheetItem):not(.Banner__in) {
    background: #d7d8d9!important;
    background: var(--separator_common)!important;
    transition: none;
}

.vkuiTappable--active-opacity:not([disabled]) {
    background: #d7d8d9!important;
    background: var(--separator_common)!important;
    transition: none;
}

.gameDouble .buttonsBlock .winStatus .vkIcon, .gameDouble .buttonsBlock .winStatusDef .vkIcon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
}

.gameDouble .buttonsBlock .winStatus .myBetType, .gameDouble .buttonsBlock .winStatusDef .myBetType {
    position: absolute;
    height: 30px;
    text-align: center;
    line-height: 30px;
    right: 10px;
    top: calc(50% - 15px);
    font-size: 24px;
    font-weight: 300;
    vertical-align: middle;
    color: #2196f3;
}

.gameDouble .buttonsBlock .winStatus .myBetType.type1, .gameDouble .buttonsBlock .winStatusDef .myBetType.type1 {
    color: #ffc107;
}

.gameDouble .buttonsBlock .winStatus .myBetType.type2, .gameDouble .buttonsBlock .winStatusDef .myBetType.type2 {
    color: #ff5722;
}

.gameDouble .buttonsBlock .winStatus .myBetType.type3, .gameDouble .buttonsBlock .winStatusDef .myBetType.type3 {
    color: #8bc34a;
}

.gameDouble .buttonsBlock .winStatus.FormStatus--error .myBetType {
    color: rgba(239,83,80,.7)!important;
}

.gameDouble .buttonsBlock .winStatus, .gameDouble .buttonsBlock .winStatusDef {
    position: relative;
}

.gameDouble .buttonsBlock .winStatus.FormStatus--def {
    background: #009688;
    color: #fff;
}

.gameDouble .buttonsBlock .winStatus.FormStatus--def h4 {
    color: #fff;
}

.gameDouble .buttonsBlock .winStatus.FormStatus--def .myBetType {
    color: #fff;
}

.gameDouble .buttonsBlock .winStatusDef {
    color:var(--profile_coins_text_color)
}

.gameDouble .buttonsBlock {
    margin: 10px 0;
}

.gameDouble .gameContent .betsList .betCell .betType {
    font-weight: 300;
    font-size: 21px;
    color: #2196f3;
}

/* her */
.gameDouble .gameContent .betsList .betCell .betType.t2 {
    color: #ff5722;
}

.gameDouble .gameContent .betsList .betCell .betType.t1 {
    color: #ffc107;
}

.gameDouble .gameContent .betsList .betCell .betType.t3 {
    color: #8bc34a;
}

.gameDouble .gameContent .betsList .betCell .vkIcon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
}

.gameDouble .gameContent .betsList .betCell.lose .SimpleCell__description {
    color: rgb(238, 94, 85);
}

.RouletteFortune, .RouletteFortune .roulette-container {
    display: flex;
    justify-content: center;
}

.RouletteFortune {
    flex-direction: column;
}

.RouletteFortune .roulette-container {
    padding: 5px;
}

.RouletteFortune .canvas {
    display: block;
    width: 300px;
    height: 300px;
}

.gameDouble .gameContent .table .timer {
    position: absolute;
    top: 114px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    color: var(--bw_color_text);
    font-family: Montserrat, serif;
    font-size: 70px;
    font-weight: 500;
}