:root {
    --font-common: -apple-system, system-ui, Helvetica Neue, Roboto, sans-serif;
    --font-tt: "TT Commons", -apple-system, system-ui, Helvetica Neue, Roboto, sans-serif;
    --bw_color_text: #000;
    --bw_color_text_lite: rgba(0,0,0,0.8);
    --bar_color_bg: #fff;
    --card_color_bg: #fafafa;
    --events_card_color_bg: rgba(0,0,0,0.1);
    --chat_message_color_bg: rgba(0,0,0,0.1);
    --shop_icon_color_bg: hsla(0,0%,100%,0.5);
    --modal_bg_image_color: hsla(0,0%,100%,0.7);
    --modal_bg_sec_button_color: hsla(0,0%,100%,0.7);
    --lite_bg_only_color: #e6e6e6;
    --lite_bg_only_color_2: #fafafa;
    --lite_bg_only_color_3: #d2d2d2;
    --transparent_chat_color_bg: hsla(0,0%,94.1%,0.95);
    --transparent_chat_pre_color_bg: rgba(0,0,0,0.1);
    --profile_coins_text_color: black;
    --hc_bg_color: #fefefe;
    --hc_text_color: #fefefe;
    --hc_line_color: #3f8ae0;
}

.verticalText {
    display: inline-block;
    vertical-align: middle;
}

.View {
    --padding_left_vk: 12px;
}

#root {
    -webkit-user-select: none;
    user-select: none;
}

body, div#root, html {
    margin: 0;
    padding: 0;
    height: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    font-family: -apple-system,system-ui,Helvetica Neue,Roboto,sans-serif;
    font-family: var(--font-common);
    color: #000;
    color: var(--text_primary);
}

.View--android, .View--ios {
    --gamesItemHeight: calc(33.33333vh - 21.66667px - var(--header_height_os)/3);
}

.View--android {
    --padding_left_vk: 16px;
    --panelheader_height_uni: calc(var(--panelheader_height_android) + var(--safe-area-inset-top));
    --header_height_os: calc(var(--panelheader_height_android) + var(--safe-area-inset-top));
}

.View--ios {
    --padding_left_vk: 12px;
    --panelheader_height_uni: calc(var(--panelheader_height_ios) + var(--safe-area-inset-top));
    --header_height_os: calc(var(--panelheader_height_ios) + var(--safe-area-inset-top));
}

.paddingWrapper {
    padding: 0 var(--padding_left_vk);
}

body[scheme=client_dark], body[scheme=space_gray] {
    --hc_bg_color: #2a2a2b;
    --hc_text_color: #fefefe;
    --hc_line_color: #3f8ae0;
}

body[scheme=client_dark], body[scheme=space_gray] {
    --bw_color_text: #fff;
    --bw_color_text_lite: hsla(0,0%,100%,0.8);
    --bar_color_bg: rgba(25,25,25,0.8);
    --card_color_bg: #191919;
    --events_card_color_bg: hsla(0,0%,100%,0.1);
    --chat_message_color_bg: rgba(50,50,50,0.7);
    --shop_icon_color_bg: hsla(0,0%,100%,0.9);
    --modal_bg_image_color: rgba(0,0,0,0.7);
    --modal_bg_sec_button_color: rgba(99,99,99,0.7);
    --lite_bg_only_color: #303030;
    --lite_bg_only_color_2: #414141;
    --lite_bg_only_color_3: #414141;
    --transparent_chat_color_bg: rgba(10,10,10,0.95);
    --transparent_chat_pre_color_bg: rgba(0,0,0,0.6);
    --profile_coins_text_color: #babfc3;
}

